/* _placeholders write:started */  



%highLighterHeaderTagColor { color: white; }

%htag {	margin: 0; }

%border-default-img { border: 1px solid $color_default-bordergray; }

%compressedoffer {
	display: inline;
	float: left;
}

%colexp {
	margin-left: 5px;
	position: absolute;
	top: 28px;
	height: 17px; 
	width: 17px;		
}

/* _placeholders write:started */  