/* _localpage imported:started */ 


#_LocalpageOverview {
	.groupcontainer {
		height: 100%;
		background-image: url(../images/backgrounds/specialofferuc/RSwirl200_400_25.jpg);
	}
	.duoBlock-10 {height: 390px;}
	.subcontainer {height: 100%;}
	&.edgetoedge {
		.subcontainer {margin: 0;}
	}	
}


/* _localpage imported:finished */ 