
.GarageDoortipsAndResources {
	div div div div .toppadding { padding-top:10px;}
}

.GarageDoorBoardDesigns {
	div .subcontainer div {padding-left:5px};
}

.GarageDoorWindowOptions {
	div .subcontainer { 
		&.FullSunray {
			margin-left:10px;
			padding-left:5px;
			
			.FullSunrayText {width: 340px; margin-left:0px; padding-left:0px;}
		} 
		margin-bottom:5px;
		div {padding-left:5px;}
	}
}

.GarageDoorHardwareOptions {
	div div {
		.articletext {padding-left:5px;}
	}
}

.GarageDoorConstructionOptions {
	div div div.articletext {background-color:$color_background-constructionoptions; color:white; border-bottom:5px solid white; text-align:center;}
	div div div.notext {border-bottom:5px solid white;}
}

.GarageDoorColors {

	@extend #traditionalSeriesContainer !optional;

	.article2 {
		display: inline;
		float:right;
		margin: 5px auto;
	}

	div {
		.text {
			.floatright {
				float: right;
				padding-right:10px;
			}
			.PriceCharges {
				font-style:italic; 
				text-align:right;
				clear:both;
				padding-top:30px;
				padding-bottom:15px;
				font-size:.75em;
			}
		}

		.ColorDescriptions {
			font-size: .85em;
			margin:0;
			width:inherit;
		}
	}
}

.buttonlink {@include ButtonAsButton($float: right); margin-top: 20px;}
.buttonlink-left {@include ButtonAsButton(); margin-top:20px;}

.GarageDoorPhotos {
	&:hover { cursor: pointer;}
}

.GarageDoorSquares {
	height:52px; 
	width: 55px;
	margin: 0 0 0 15px;
	float:right;
	text-align:center;

	&.DarkWoodgrainSquare { @include swatches-sprite(DarkWoodgrainSquare); }
	&.MediumWoodgrainSquare { @include swatches-sprite(MediumWoodgrainSquare); }

	.TextUnder {
		margin-top:52px;
		text-align:center;
		font-size: .60em;
		padding-top:5px;
	}

	&:hover { cursor: pointer;}
}

.GarageDoorCircles {
	height:52px; 
	width: 58px;
	margin: 0;
	float:left;
	border: 1px solid transparent;

	&.AlmondCircle { @include swatches-sprite(AlmondCircle); }
	&.WhiteCircle {	@include swatches-sprite(WhiteCircle); }
	&.WickerTanCircle {	@include swatches-sprite(WickerTanCircle); }
	&.SandtoneCircle { @include swatches-sprite(SandtoneCircle); }
	&.TerratoneCircle { @include swatches-sprite(TerratoneCircle); }
	&.DarkBrownCircle { @include swatches-sprite(DarkBrownCircle); }
	&.HunterGreenCircle { @include swatches-sprite(HunterGreenCircle); }
	&.GrayCircle { @include swatches-sprite(GrayCircle); }

	.TextUnder {
		margin-top:52px;
		text-align:center;
		font-size: .60em;
		padding-top:5px;
	}
	&:hover { cursor: pointer;}
}
.GarageDoorComparisonChart {	border: 1px solid transparent; }

.GarageDoorTable {
	font-size:.8em; 
	width:100%;
	border: 1px solid black;

	tr { height: auto 0; }

	.header-blue-background { color: $color-tableblue;
		.first { width:150px; }
		.middle { width:300px;}
		.middle2 { width:150px;}
		.last { width:50px;}
	}
	.light-blue-background { background-color: $color-tablelightblue; }
	.headerheight { height: inherit; }
	.border-dark { border: 1px solid black;}
	.border-right-dark { border-right: 1px solid black; }
	.border-right-blue { border-right: 1px solid $color-tablelightblue;}
	.border-left-dark { border-left: 1px solid $color-black; }
	.border-top-dark { border-top: 1px solid black; }
	.blue-background { background-color: $color_background-constructionoptions; }
	.whiteColor { color: $color-white;}
	.column-width-size { width:50px; font-size:.7em;}
	.text-center { text-align: center;}
	.column-header-width { width:150px; padding-left:10px; text-align:left; }
	.column-header-bold { width:150px; font-weight: bold; text-align:left; }
	.footnote-indicator {font-size: .6em; vertical-align: top; }
	.column-width-nosize { width:50px;}

}

.GarageDoorFootNote {
	font-style:italic; 
	font-size:.7em;
	padding-top: 5px;

	div {
		padding-bottom:5px;
		span {font-style:normal; font-size:.7em;vertical-align:top;}
	}
}

/*.bordertransparent {border: 1px solid transparent;}*/