/* _headertags loading:started */  




h1, h2, h3, h4, h5, h6 { @extend %htag; }

h1 { 
	font-size: 1em; 
	#ProductsOfferedTriBlock1 & {
		font-size: 1em;
	}
}
h2, h3 { font-size: 1em; }
h4 {
	font-size: 1em;
	.videoheader & {
		font-size: 1em;
	}
}


$ud: false;

@import "headerdev";

/* _headertags loading:finished */  